.background {
    animation: sTransition 10s linear infinite;
    background: linear-gradient(to right,
      rgb(76, 217, 105),
      rgb(52, 170, 220),
      rgb(88, 86, 217),
      rgb(255, 45, 83),
      rgb(255, 45, 83),
      rgb(88, 86, 217),
      rgb(52, 170, 220),
      rgb(76, 217, 105)
    );
    background-size: 400%;
    -webkit-background-clip: text;
    color: rgba(255, 255, 255, .1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-size: 10em;
    font-weight: 700;
    left: 50%;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @keyframes sTransition {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  
  body {
    background-color: black;
  }
  h1{
    margin: 0;
  }