:root {
    --scrollcolor: #fff;
    --scrollbackground: #141e27;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
  }
  
  body {
    background: #203239;
  }
  
  .title {
    font-size: 2.5rem;
    font-family: system-ui;
    line-height: 1.1;
    font-weight: 300;
    color: #fff;
    margin: 4rem auto 1rem;
    width: 85%;
    max-width: 1280px;
  }
  
  .slider {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .slider__content {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    scrollbar-color: var(--scrollcolor) var(--scrollbackground);
  
    &::-webkit-scrollbar {
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 1rem;
      background: var(--scrollbackground);
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background: var(--scrollcolor);
    }
  
    &::-webkit-scrollbar-track {
      border-radius: 1rem;
      background: var(--scrollbackground);
    }
  }
  
  .slider__item {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 100%;
    width: 100%;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1;
  
    @media (min-width: 460px) {
      aspect-ratio: 2/3;
      min-width: calc((100% / 2) - 2rem);
    }
  
    @media (min-width: 940px) {
      min-width: calc((100% / 3) - 4rem);
    }
  }
  
  .slider__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .slider__info {
    position: relative;
    padding: 4rem 2rem 2rem;
    background: linear-gradient(to top, rgba(#000, 0.75), rgba(#203239, 0));
  
    h2 {
      color: #fff;
      font-family: system-ui;
      line-height: 1.1;
      font-weight: 300;
      font-size: 1.75rem;
      margin: 0;
    }
  }
  
  
  