$color: #FFFFFF;
$bg: #0B132B;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg;
}

.menu {
    position: fixed;
    cursor: pointer;
    width: 40px;
    height: 30px;
    transform: scale(4);
  
  .line {
    position: absolute;
    transform-origin: center;
    width: 100%;
    height: 4px;
    transition: 0.2s;
    background: $color;
  }

  .line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .line:nth-child(3) {
    bottom: 0;
  }

  &.open .line:nth-child(2) {
    transform: translateX(50%);
    opacity: 0;
    visibility: hidden;
  }

  &.open .line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }

  &.open .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
  }
}