body{
   margin: 0;
   padding: 0;
   background: #8e44ad;
}
.container{
    text-align: center;
    margin-top: 300px;
}
.btn{
    border: 3px solid #9b59b6;
    border-radius: 5%;
    background: none;
    padding: 10px 20px;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    margin: 20px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn1,.btn2{
    color: #9b59b6;
    
}
.btn3,.btn4{
    color: #f9f;    
}
.btn1:hover,.btn2:hover{
    color: #f9f;
}
.btn3:hover,.btn4:hover{
    color: #9b59b6;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #9b59b6;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before,.btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
    height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
    height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
    height: 0%;
}